/* Give your page a fun background color */
body {
    background-color: #FEFAE0;

}

/* Make the header and footer a different color from the background */
header {
    background-color: #283618;
}

footer {
    background-color: #283618;
}

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
    color: white;
}

/* Make your p tag a different color and italic */
p {
    font-style: italic;
    color: white;
    font-family: Roboto;
    text-align: center;
}

/* Put a border around your image */
.image {
    border: dotted black 2px;
    max-inline-size: 250px;

}

/* Change the font-family of your list */
ul li {
    font-family: ;
    color: black;
    list-style-type: square;

}